@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gradient-accent: linear-gradient(
    to bottom right,
    #ff8a05,
    #ff5478,
    #ff00c6
  );
}

.wrapper {
  @apply mx-auto max-w-screen-xl px-4 sm:px-8;
}

.hero {
  min-height: calc(100vh - 14.45rem);
  @apply w-full;
}

@media (min-width: 640px) {
  .hero {
    min-height: calc(100vh - 15.6rem);
  }
}

.menu__list {
  --underline-width: 45px;
  --underline-offset-x: 0;
}

@media (min-width: 640px) {
  .menu__list::before {
    width: var(--underline-width);
    transform: translateX(var(--underline-offset-x));
    background: var(--gradient-accent);
    @apply transition rounded-lg content-[''] block absolute top-full h-[1px];
  }
}

.menu__link:hover,
.text-clip-gradient {
  background: var(--gradient-accent);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  @apply transition;
}

.bg-gradient {
  background: var(--gradient-accent);
}
